<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Welcome Page</h1>
    <p> This will be our welcome page since we can't get it to go directly to the sign in page!!!</p>
    <p>Maybe add a picture or something here?</p>
  </div>
</section>