<tr class="nested-fields">
    <td>
        <%= link_to_remove_association "remove", f, class: 'btn btn-dark btn-xs' %>
    </td>
    <td>
        <%= f.text_field :expenseItems%>
    </td>
    <td>
        <%= f.text_field :departments%>
    </td>
    <td>
        <%= f.text_field :departments%>
    </td>
</tr>
