  <div class="container">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5"> Editing Expense Report</h1>
    </div>
  </div>
  </br>

<%= render 'form', expense_report: @expense_report %>


