<%= form_with(model: budget_approver, local: true) do |form| %>
  <% if budget_approver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_approver.errors.count, "error") %> prohibited this budget_approver from being saved:</h2>

      <ul>
      <% budget_approver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
