<<<<<<< HEAD
<h1>New Budget Approver Page</h1>

<%= render 'form', budget_approver_page: @budget_approver_page %>

<%= link_to 'Back', budget_approver_pages_path %>
=======
<h1>New Budget Approver</h1>

<%= render 'form', budget_approver: @budget_approver %>

<%= link_to 'Back', budget_approver_path %>
>>>>>>> 0bcb7764a1a6a740d53be56a2b309034f036c502
