<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<h1>New Request Form</h1>

<%= render 'form', request_form: @request_form %>

<%= link_to 'Done', employee_path(current_account.accountable_id) %>
