<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>

  <% @departments.each do |department| %>
    <% if current_account.department_id == department.id %>
    <td><%= department.names%></td>
    <% end %>
   <% end %>
</p>


<p>
  <strong>Amount:</strong>
  <%= @request_form.amount %>
</p>

