<h1>Editing Budget Approver Page</h1>

<%= render 'form', budget_approver_page: @budget_approver_page %>

<%= link_to 'Show', @budget_approver_page %> |
<%= link_to 'Back', budget_approver_pages_path %>
